<template>
  <div>
    <button-full
      v-if="product.stock && !product.stock.is_in_stock"
      @click.native="notifyUserForStock(product)"
      data-testid="notifyMe"
      class="add-to-cart">
      {{ $t('Notify me') }}
    </button-full>
    <button-full
      v-else
      class="atc-btn"
      @click.native="addToCart(product)"
      :disabled="isProductDisabled"
      data-testid="addToCart"
    >
      {{ $t("Add to cart") }}
    </button-full>
  </div>
</template>

<script>
import { formatProductMessages } from '@vue-storefront/core/filters/product-messages';
import { notifications } from '@vue-storefront/core/modules/cart/helpers';
import focusClean from 'theme/components/theme/directives/focusClean';
import ButtonFull from 'theme/components/theme/ButtonFull.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'AddToCart',
  directives: { focusClean },
  components: { ButtonFull },
  props: {
    product: {
      required: true,
      type: Object
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    ...mapActions('notifyme', ['requestNotifyMe']),
    onAfterRemovedVariant () {
      this.$forceUpdate()
    },
    async addToCart (product) {
      try {
        const diffLog = await this.$store.dispatch('cart/addItem', { productToAdd: product })
        diffLog.clientNotifications.forEach(notificationData => {
          this.cartSlideWindow()
        })
      } catch (message) {
        this.notifyUser(notifications.createNotification({ type: 'error', message }))
      }
    },
    notifyUser (notificationData) {
      this.$store.dispatch('notification/spawnNotification', notificationData, { root: true })
    },
    cartSlideWindow () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    notifyUserForStock (product) {
      if (this.isLoggedIn) {
        this.requestNotifyMe(product.id)
      } else {
        this.$bus.$emit('modal-toggle', 'modal-signup')
      }
    }
  },
  computed: {
    ...mapGetters({
      isAddingToCart: 'cart/getIsAdding',
      isLoggedIn: 'user/isLoggedIn'
    }),
    isProductDisabled () {
      return (
        this.disabled ||
        formatProductMessages(this.product.errors) !== '' ||
        this.isAddingToCart
      );
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-removevariant', this.onAfterRemovedVariant);
  },
  beforeDestroy () {
    this.$bus.$off('product-after-removevariant');
  }
};
</script>
<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";

$green: color(green-95BF47);
$black: color(black-2D242D);
$white: color(white);
.atc-btn.button-full {
  width: 100%;
  min-width: unset;
  background:$black;
  border-radius: 4px;
  border: 1px solid $black !important;
  color: $white;
  line-height: 1;
  padding-top: 13px;
  padding-bottom: 12px;
  font-weight: 600;
  &:hover {
    background: $black;
    color: $white;
  }
}
@media (max-width: 767px) {
  button.button-full {
    font-size: 12px;
    font-weight: 600;
  }
}
@media (min-width: 305px) and (max-width: 425px) {
  .atc-btn.button-full {
    font-size: 12px;
  }
}
</style>
