<template>
  <section class="container cl-black-2D242D">
    <div class="row">
      <div class="col-xs-12">
        <div class="row center-xs bg-cl-white m0 product-reviews border-r">
          <div class="col-xs-12 pt50 pb20" :class="accordionComment">
            <h2 class="m0 mb30 lh35 f-s-25 weight-700 uppercase">
              {{ $t('Reviews') }}
            </h2>
            <div class="row center-xs review-box1">
              <div class="col-md-6 review-meter">
                <table>
                  <tr>
                    <td>{{ $t('5 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" :style="'width:'+reviewPercentage(noOfReviews, totalRatings.five)+'%'" />
                      </div>
                    </td>
                    <td>{{ totalRatings.five }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('4 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" :style="'width:'+reviewPercentage(noOfReviews, totalRatings.four)+'%'" />
                      </div>
                    </td>
                    <td>{{ totalRatings.four }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('3 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" :style="'width:'+reviewPercentage(noOfReviews, totalRatings.three)+'%'" />
                      </div>
                    </td>
                    <td>{{ totalRatings.three }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('2 STARS') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" :style="'width:'+reviewPercentage(noOfReviews, totalRatings.two)+'%'" />
                      </div>
                    </td>
                    <td>{{ totalRatings.two }}</td>
                  </tr>
                  <tr>
                    <td>{{ $t('1 STAR') }}</td>
                    <td>
                      <div class="a-meter-bar">
                        <div class="a-meter-filled" :style="'width:'+reviewPercentage(noOfReviews, totalRatings.one)+'%'" />
                      </div>
                    </td>
                    <td>{{ totalRatings.one }}</td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6 review-info">
                <div class="flex rating-view center-xs">
                  <div class="rating-result mr10">
                    <span :class="'rating_'+getRatings" />
                  </div>
                  <span class="f-s-18 cl-black-2D242D">
                    {{ getRatings }} {{ $t('/ 5') }}
                  </span>
                </div>
                <h4 class="mt10 mb55">
                  {{ noOfReviews }} {{ $t('Reviews') }}
                </h4>
                <button class="view-review f-s-18 weight-500" @click="commentAccordion">
                  {{ $t('View all review') }}
                  <i class="arrow ml10" :class="accordionCommentArrow" />
                </button>
              </div>
            </div>
            <div class="comments">
              <reviews-list
                :per-page="4"
                :items="reviews"
                :product-name="productName"
              />
            </div>
          </div>
          <div class="col-xs-12 px40">
            <div class="brdr-top-1 brdr-cl-gray-E5E5E5 pt20" :class="accordionClasses">
              <h2 class="h4 m0 lh25 weight-700 uppercase brdr-bottom-1 brdr-cl-gray-E5E5E5 pb20 accordion-header flex center-xs middle-xs" @click="toggleAccordion">
                {{ $t('Write Your Review') }} <i class="arrow ml10" :class="accordionHeaderArrow" />
              </h2>
              <div class="accordion-body">
                <div class="row center-xs">
                  <div class="col-lg-8 pt60">
                    <div class="review-form">
                      <h4 class="f-s-20 lh25 cl-black-2D242D m0 align-left">
                        {{ $t('Write Your Review') }}
                      </h4>
                      <p class="f-s-14 lh20 cl-gray-969196 mt0 align-left cl-secondary">
                        {{ $t('Nullam quis risus eget urna mollis ornare vel eu leo.') }}
                      </p>
                      <div class="your-rating flex">
                        <label class="title">
                          {{ $t('Your Rating :') }}
                        </label>
                        <div class="control review-control-vote">
                          <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_1" value="1" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
                          <label class="rating-1" for="Rating_1" title="1 star" id="Rating_1_label">
                            <span>
                              {{ $t('1 star') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_2" value="2" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
                          <label class="rating-2" for="Rating_2" title="2 stars" id="Rating_2_label">
                            <span>
                              {{ $t('2 stars') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_3" value="3" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
                          <label class="rating-3" for="Rating_3" title="3 stars" id="Rating_3_label">
                            <span>
                              {{ $t('3 stars') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_4" value="4" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
                          <label class="rating-4" for="Rating_4" title="4 stars" id="Rating_4_label">
                            <span>
                              {{ $t('4 stars') }}
                            </span>
                          </label>
                          <input type="radio" name="ratings" v-model="formData.ratings" @blur="$v.formData.ratings.$touch()" id="Rating_5" value="5" class="radio" :validations="[{condition: $v.formData.ratings.$error && !$v.formData.ratings.required, text: $t('Field is required')}]">
                          <label class="rating-5" for="Rating_5" title="5 stars" id="Rating_5_label">
                            <span>
                              {{ $t('5 stars') }}
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="block cl-error h6 mt5 align-left" v-if="$v.formData.ratings.$error">
                        {{ $t('Please select one of each of the ratings above.') }}
                      </div>
                      <form action="#" @submit.prevent="outOfScope()">
                        <div class="mb15 pt20 align-left">
                          <base-input
                            type="text"
                            :placeholder="$t('Name') + ' *'"
                            v-model="formData.name"
                            @blur="$v.formData.name.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.name.$error && !$v.formData.name.required,
                                text: $t('Field is required')
                              },
                              {
                                condition: !$v.formData.name.minLength,
                                text: $t('Name must have at least 2 letters.')
                              }
                            ]"
                          />
                        </div>
                        <div class="mb15 align-left">
                          <base-input
                            type="email"
                            :placeholder="$t('Email') + ' *'"
                            v-model="formData.email"
                            @blur="$v.formData.email.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.email.$error && !$v.formData.email.required,
                                text: $t('Field is required')
                              },
                              {
                                condition: !$v.formData.email.email && $v.formData.email.$error,
                                text: $t('Please provide valid e-mail address.')
                              }
                            ]"
                          />
                        </div>
                        <div class="mb10 align-left">
                          <base-input
                            type="text"
                            :placeholder="$t('Summary') + ' *'"
                            v-model="formData.summary"
                            @blur="$v.formData.summary.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.summary.$error && !$v.formData.summary.required,
                                text: $t('Field is required')
                              }
                            ]"
                          />
                        </div>
                        <div class="mb25 align-left">
                          <base-textarea
                            type="text"
                            :placeholder="$t('Your Review') + ' *'"
                            v-model="formData.review"
                            @blur="$v.formData.review.$touch()"
                            :validations="[
                              {
                                condition: $v.formData.review.$error && !$v.formData.review.required,
                                text: $t('Field is required')
                              }
                            ]"
                          />
                        </div>
                        <div class="row m0 middle-xs buttons submit-btn">
                          <button-full
                            @click.native="validate()"
                            class=" px40"
                            :class="{ 'w-auto': !currentUser }"
                          >
                            {{ $t('SUBMIT') }}
                          </button-full>
                          <no-ssr>
                            <span
                              class="fs-medium ml20 cl-gray lh30 py5 block"
                              v-if="!currentUser"
                            >
                              {{ $t('or') }} <a href="#" class="cl-primary" @click.prevent="login()">{{ $t('login') }}</a> {{ $t('to account') }}
                            </span>
                          </no-ssr>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required, email, minLength } from 'vuelidate/lib/validators'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { AddReview } from '@vue-storefront/core/modules/review/components/AddReview'
import i18n from '@vue-storefront/i18n'
import NoSSR from 'vue-no-ssr'

export default {
  name: 'Reviews',
  data () {
    return {
      formData: {
        name: '',
        email: '',
        summary: '',
        review: '',
        ratings: ''
      },
      isOpen: false,
      isOpenShowing: false,
      totalRatings: {
        one: 0,
        two: 0,
        three: 0,
        four: 0,
        five: 0
      }
    }
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    },
    noOfReviews () {
      return (this.$store.state.review.items.items) ? this.$store.state.review.items.items.length : 0
    },
    getRatings () {
      let ratings = 0;
      let i;
      let reviews = this.$store.state.review.items.items;
      this.clearRatings(null);
      let bifurcate = { one: 0, two: 0, three: 0, four: 0, five: 0 }

      if (reviews) {
        for (i in reviews) {
          let item = reviews[i];
          ratings += parseInt(item.ratings);
          switch (parseInt(item.ratings)) {
            case 1: bifurcate.one++; break;
            case 2: bifurcate.two++; break;
            case 3: bifurcate.three++; break;
            case 4: bifurcate.four++; break;
            case 5: bifurcate.five++; break;
            default: break;
          }
        }
      }
      this.clearRatings(bifurcate);
      return (reviews && reviews.length && ratings > 0) ? Math.round(ratings / reviews.length) : 0;
    },
    accordionClasses () {
      return {
        'is-closed': !this.isOpen
      };
    },
    accordionHeaderArrow () {
      return {
        'right': !this.isOpen,
        'down': this.isOpen
      }
    },
    accordionComment () {
      return {
        'is-closed-comment': !this.isOpenShowing
      };
    },
    accordionCommentArrow () {
      return {
        'right': !this.isOpenShowing,
        'down': this.isOpenShowing
      }
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    reviewPercentage (total, value) {
      if (total > 0) {
        return Math.round((value * 100) / total);
      }
      return 0;
    },
    refreshList () {
      this.$store.dispatch('review/list', { productId: this.productId })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.productId,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null,
        'ratings': [{
          'rating_name': 'Rating',
          'value': this.formData.ratings
        }]
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('Your reviews submitted successfully.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.email = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.formData.ratings = ''
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
        this.formData.email = this.currentUser.email
      }
    },
    toggleAccordion () {
      this.isOpen = !this.isOpen;
    },
    commentAccordion () {
      this.isOpenShowing = !this.isOpenShowing;
    },
    clearRatings (data) {
      if (data == null) {
        this.totalRatings.one = 0
        this.totalRatings.two = 0
        this.totalRatings.three = 0
        this.totalRatings.four = 0
        this.totalRatings.five = 0
      } else {
        this.totalRatings = data;
      }
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      email: {
        required,
        email
      },
      summary: {
        required
      },
      review: {
        required
      },
      ratings: {
        required
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea,
    ReviewsList,
    'no-ssr': NoSSR
  }
}
</script>
<style lang="scss" scoped>
  .accordion-header {
    cursor: pointer;
  }
  .accordion-body   {
    padding: 0;
    overflow: hidden;
    transition: 0.3s ease all;
  }
  .is-closed .accordion-body {
    max-height: 0;
    display: none;
  }
  .submit-btn{
    button{
      min-width: unset;
      background: #2D242D;
      border-radius: 4px;
      border: 1px solid #2D242D !important;
      color: #fff;
      line-height: 1;
      padding-top: 14px;
      padding-bottom: 14px;
      font-weight: 700;
      max-width: 140px;
    }
  }
</style>
<style lang="sass">
  @import '~theme/css/blocks/review';
</style>
