$white-F5F5F5: color(white-F5F5F5);
footer{
  background: $white-F5F5F5;
  .foot-logo{
    img{
      height: 24px;
    }
  }
  .footer-links{
    .payment-methods{
      img{
        margin-right: 4px;
      }
    }
    .fcontent-1,
    .fcontent-2{
      border-left: 1px solid rgba(255,255,255,0.15);
    }
  }
  .social-icon{
    a{
      padding-right: 15px;
      display: inline-block;
      img{
        width: 30px;
      }
    }
  }
  .payment-info{
    p{
      max-width: 213px;
    }
  }
  @media (max-width: 992px){
    .newsletter{
      h3{
        font-size: 18px;
        line-height: 28px;
      }
    }
    .footer-block{
      .foot-logo{
        img{
          height: auto;
          max-width: 165px;
        }
      }
      .block-2,
      .block-3{
        .block-content{
          margin-left: 0;
          padding-left: 20px;
          a{
            font-size: 14px;
          }
        }
      }
      .block-4{
        .payment-info{
          p{
            text-align: left;
            font-size: 14px;
          }
        }
        .payment-methods{
          img{
            width: 48px;
          }
        }
      }
    }
  }
  @media (max-width: 767px){
    .newsletter{
      padding-top:30px;
      padding-bottom:35px;
      .container{
        > .row{
          padding: 0;
          max-width: 350px;
          margin: 0 auto;
        }
      }
      .col-xs-9{
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
        h3{
          padding-bottom: 20px;
        }
      }
    }
    .footer-links{
      padding-left: 0;
      padding-right: 0;
      .container{
        padding-top: 40px;
        .social-icon{
          padding-top: 25px;
          padding-bottom: 0;
        }
      }
    }
    .footer-news{
      padding-top: 20px;
    }
    .footer-block{
      .foot-logo{
        img{
          height: auto;
          max-width: 145px;
        }
      }
      .block-2,
      .block-3{
        max-width: 50%;
        border-top: 0px;
        padding: 0;
        h3{
          display: none;
        }
        .block-content{
          margin-left: 0;
          padding-left: 20px;
          .mb15{
            margin-bottom: 0px;
          }
        }
      }
      .block-4{
        padding:30px 0 10px 0;
        .payment-info{
          p{
            max-width: 100%;
            font-size: 14px;
          }
        }
        .payment-methods{
          img{
            width: 60px;
          }
        }
      }
    }
  }
}