.home-carousel-main{
    .VueCarousel {
      @media (min-width: 1366px) {
        padding: 0 25px;
      }
    }
    .VueCarousel-navigation-button {
      img {
        width: 15px;
        height: 15px;
      }
      &.VueCarousel-navigation-prev{
        img{
          transform: rotate(180deg);
        }
      }
      @media (max-width: 1365px) {
        display: none;
      }
      &.VueCarousel-navigation-prev {
        transform: translateY(-50%) translateX(-14px);
        img {
          transform: rotate(180deg);
        }
      }
      &.VueCarousel-navigation-next {
        transform: translateY(-50%) translateX(14px);
      }
    }
    .VueCarousel-pagination {
      display: none;
      /*@media (max-width: 1365px) {
        display: block;
      }*/
    }
  }