<template lang="html">
  <div class="tabs__light">
    <ul class="tabs__header">
      <li v-for="(tab, index) in tabs"
          :key="tab.title"
          @click="selectTab(index)"
          :class="{'tab__selected': (index == selectedIndex)}"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: 0, // the index of the selected tab,
      tabs: [] // all of the tabs
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i

      // loop over all the tabs
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$black-2D242D: color(black-2D242D);
  ul.tabs__header {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E5E6EC;

    & > li {
      padding: 12px 32px;
      margin: 0;
      cursor: pointer;
      position: relative;
      color: rgba(45, 36, 45, 0.6);
      font-weight: 500;
      line-height: 1.25;

      @media (max-width: 991px) {
        margin: 0;
        padding: 12px 0;
        width: 50%;
        text-align: center;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: transparent;
      }

      &.tab__selected {
        color: $black-2D242D;

        &::after {
          background-color: $black-2D242D;
        }
      }
    }
  }

  .tab {
    color: rgba(45, 36, 45, 0.8);
    padding: 20px 0;
    .description{
      p{
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      h4{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: $black-2D242D;
        margin: 0;
        padding:10px 0 20px 0;
      }
      ul{
        margin: 0px;
        padding: 0px 0 0 17px;
        display: flex;
        flex-wrap: wrap;
        li{
          line-height: 1.3;
          width: 50%;
          padding: 0 0 10px;
        }
      }
      @media only screen and (max-width: 1280px) {
        ul{
          li{
            width: 100%;
          }
        }
      }
    }
    .attributes{
      li{
        line-height: 16px;
        padding: 0 0 10px;
        span{
          &:first-child{
            padding-right: 10px;
            min-width: 95px;
            display: inline-block;
            color: $black-2D242D;
            @media only screen and (max-width: 767px) {
              min-width: 85px;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      border-bottom: 1px solid #E5E6EC;
      padding-bottom: 10px;
      .description{
        h4{
          padding: 0 0 10px;
        }
      }
    }
  }

</style>
