// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  green-95BF47: #95BF47,
  green-F2FDB5: #F2FDB5,
  black-2D242D: #2D242D,
  black-EAEAEC: #EAEAEC,
  black-3A2F3A: #3A2F3A,
  gray-969196: #969196,
  gray-AAAAAA:#AAAAAA,
  gray-E5E5E5: #E5E5E5,
  gray-D8D8D8: #D8D8D8,
  white-F5F5F5:#F5F5F5,
  dark-yellow: #FACC04,
  green-DAEA82: #DAEA82,
  purple-D3B3E6: #D3B3E6
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, matterhorn)
  ),
  secondary: (
    default: map-get($colors, gray-AAAAAA),
    hover: map-get($colors, matterhorn),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, gray-AAAAAA),
  success: map-get($colors, forest-green),
  warning: map-get($colors, dark-yellow),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, gray-AAAAAA),
  secondary: map-get($colors, gray-D8D8D8),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, gray-AAAAAA)
  ),
  secondary: (
    default: map-get($colors, white),
    hover: map-get($colors, gray-AAAAAA)
  ),
  tertiary: map-get($colors, suva-gray)
);
