.no-outline {
  outline: 0;
}

.pointer {
  cursor: pointer;
}

/*a.underline:after,
a:not(.no-underline):hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: color(primary, $colors-border)
}*/

.no-underline:hover:after {
  height: 0;
}

@media (hover: none) {
  a:not(.no-underline):after {
    display: none;
  }
}
