@font-face {
  font-display: swap;
  font-family: 'noto-sans';
  src: url('../assets/fonts/notosans-light.woff2') format('woff2'),
       url('../assets/fonts/notosans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'noto-sans';
  src: url('../assets/fonts/notosans-regular.woff2') format('woff2'),
       url('../assets/fonts/notosans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'noto-sans';
  src: url('../assets/fonts/notosans-medium.woff2') format('woff2'),
       url('../assets/fonts/notosans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'noto-sans';
  src: url('../assets/fonts/notosans-semibold.woff2') format('woff2'),
       url('../assets/fonts/notosans-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'noto-sans';
  src: url('../assets/fonts/notosans-bold.woff2') format('woff2'),
       url('../assets/fonts/notosans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
