<template>
  <section class="head-image mb50 w-100 relative custom-carousel">
    <div class="home-slides">
      <no-ssr>
        <div class="relative">
          <div class="swiper-slider-wrap">
            <div v-swiper="swiperOption" :instance-name="sliderId">
              <div class="swiper-wrapper">
                <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
                  <img :src="!isMobile ? slide.image : slide.mobile_image" :alt="slide.title" class="img-cover">
                </div>
              </div>
            </div>
          </div>
          <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
            <img src="/assets/icons/next2.svg" alt="Prev">
          </div>
          <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
            <img src="/assets/icons/next2.svg" alt="Next">
          </div>
        </div>
      </no-ssr>
    </div>
    <shipping-info />
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr';
import ShippingInfo from 'theme/components/core/blocks/MainSlider/ShippingInfo'
import SwiperCore, { Navigation, Pagination } from 'swiper';
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation, Pagination]);

export default {
  components: {
    'no-ssr': NoSSR,
    ShippingInfo
  },
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    }
  },
  data () {
    return {
      isMobile: false,
      swiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: true,
        pagination: {
          el: ('#' + this.sliderId + '-pagination'),
          clickable: true
        },
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        }
      }
    };
  },
  directives: {
    swiper: directive
  },
  mounted () {
    this.checkIsMobileView()
    window.addEventListener('resize', this.checkIsMobileView)
  },
  methods: {
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
.img-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .container {
    @media (min-width: 768px) and (max-width: 915px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}
.fs55 {
  font-size: 55px;
}
.home-slides {
  .image-slide {
    border-bottom: solid 1px $gray-D8D8D8;
    & > img {
      min-height: 600px;
    }
  }
}

@media (max-width: 767px) {
  .head-image {
    margin-bottom: 165px;
  }
}

.external_link {
  border-radius: 4px;
  margin-top: 50px;
  padding: 18px 41px;
  display: inline-block;

}

.home-slides {
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -26px;
    &.swiper-button-disabled{
      opacity: 0.5;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .swiper-button-prev {
    transform: rotate(-180deg);
    left: 15px;
  }
  .swiper-button-next {
    right: 15px;
  }
}
</style>
