<template>
  <div class="customer-address-form">
    <div class="flex top-xs between-xs brdr-bottom-1 brdr-cl-gray-E5E5E5 ma-title-row">
      <h3 class="m0 weight-600 f-s-18 flex middle-xs">
        <img :src="'/assets/icons/DeliveryDetails-hover.svg'" class="acc-link pr15" alt="My shipping details">
        {{ $t('Add/Edit Address Book') }}
      </h3>
    </div>
    <div class="row gutter-md mt20">
      <base-input
        class="col-xs-12 col-md-6 mb15"
        type="text"
        name="first-name"
        :placeholder="`${$t('First name')}`"
        v-model.trim="customer.firstName"
        @input="$v.customer.firstName.$touch()"
        :validations="[
          {
            condition: !$v.customer.firstName.required && $v.customer.firstName.$error,
            text: $t('Field is required')
          },
          {
            condition: !$v.customer.firstName.minLength,
            text: $t('Name must have at least 3 letters.')
          }
        ]"
      />

      <base-input
        class="col-xs-12 col-md-6 mb15"
        type="text"
        name="last-name"
        :placeholder="`${$t('Last name')}`"
        v-model.trim="customer.lastName"
        @input="$v.customer.lastName.$touch()"
        :validation="{
          condition: !$v.customer.lastName.required && $v.customer.lastName.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-md-9 mb15"
        type="text"
        name="city"
        :placeholder="`${$t('City / Area')}`"
        v-model.trim="customer.city"
        @input="$v.customer.city.$touch()"
        :validation="{
          condition: !$v.customer.city.required && $v.customer.city.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-sm-3 mb15"
        type="text"
        name="block"
        :placeholder="$t('Block')"
        v-model.trim="customer.block"
        @input="$v.customer.block.$touch()"
        :validation="{
          condition: !$v.customer.block.required && $v.customer.block.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-md-9 mb15"
        type="text"
        name="street-address"
        :placeholder="`${$t('Street name')}`"
        v-model.trim="customer.street"
        @input="$v.customer.street.$touch()"
        :validation="{
          condition: !$v.customer.street.required && $v.customer.street.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-sm-3 mb15"
        type="text"
        name="avenue"
        :placeholder="$t('Jaddah / Avenue')"
        v-model.trim="customer.avenue"
        @input="$v.customer.avenue.$touch()"
        :validation="{
          condition: !$v.customer.avenue.required && $v.customer.avenue.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-sm-6 mb15"
        type="text"
        name="floor"
        :placeholder="$t('Floor / Apartment')"
        v-model.trim="customer.floor"
        @input="$v.customer.floor.$touch()"
        :validation="{
          condition: !$v.customer.floor.required && $v.customer.floor.$error,
          text: $t('Field is required')
        }"
      />

      <base-input
        class="col-xs-12 col-md-6 mb15"
        type="text"
        name="zip-code"
        :placeholder="`${$t('Postal Code')}`"
        v-model.trim="customer.postcode"
        @input="$v.customer.postcode.$touch()"
        :validations="[
          {
            condition: !$v.customer.postcode.required && $v.customer.postcode.$error,
            text: $t('Field is required')
          },
          {
            condition: !$v.customer.postcode.minLength,
            text: $t('Postal Code must have at least 3 letters.')
          }
        ]"
      />

      <base-input
        class="col-xs-12 col-md-6 mb15"
        type="text"
        name="state"
        :placeholder="$t('State / Province')"
        v-model.trim="customer.region"
      />

      <base-input
        class="col-xs-12 col-md-6 mb15"
        type="text"
        name="phone-number"
        :placeholder="$t('Phone Number')"
        v-model.trim="customer.phone"
      />

      <div class="col-xs-12 d-flex middle-xs mt20 acc-btn-container btn-row">
        <base-checkbox
          class="mb-6"
          id="default_shipping"
          v-model="customer.default_shipping"
          @click="customer.default_shipping = !customer.default_shipping"
        >
          {{ $t('Use as my default shipping address') }}
        </base-checkbox>
      </div>

      <div class="col-xs-12 d-flex middle-xs mt20 acc-btn-container btn-row">
        <base-checkbox
          class="mb-6"
          id="default_billing"
          v-model="customer.default_billing"
          @click="customer.default_billing = !customer.default_billing"
        >
          {{ $t('Use as my default billing address') }}
        </base-checkbox>
      </div>

      <div class="col-xs-12 flex middle-xs mt30">
        <button-full
          @click.native="addcustomerAddress"
          :disabled="$v.$invalid"
          class="uppercase my-account-update ls-1"
        >
          {{ $t('Save') }}
        </button-full>
        <a href="javascript:void(0)" @click="exitSection" class="inline-block py-2 px-3 cancel-btn">
          {{ $t('Cancel') }}
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength } from 'vuelidate/lib/validators'
import ButtonFull from 'theme/components/theme/ButtonFull'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { AddAddress } from './AddAddress'
import toString from 'lodash-es/toString'

export default {
  name: 'AddressForm',
  props: {
    addressId: {
      type: Number,
      required: false,
      default: null
    }
  },
  components: {
    ButtonFull,
    BaseCheckbox,
    BaseInput
  },
  computed: {
    countryOptions () {
      return [{
        value: 'KW',
        label: 'Kuwait'
      }]
    }
  },
  data () {
    return {
      customer: {
        firstName: null,
        lastName: null,
        phone: null,
        street: null,
        city: null,
        region: null,
        country: 'KW',
        postcode: null,
        block: null,
        floor: null,
        avenue: null,
        default_shipping: false,
        default_billing: false
      },
      countries: Countries
    }
  },
  mounted () {
    this.customer = this.getCustomerAddress()
  },
  mixins: [ AddAddress ],
  methods: {
    exitSection () {
      this.$v.$reset()
      this.customer = {
        firstName: '',
        lastName: '',
        street: '',
        city: '',
        postcode: '',
        region: '',
        country: 'KW',
        phone: '',
        block: '',
        floor: '',
        avenue: '',
        default_shipping: false,
        default_billing: false
      }

      this.$emit('reset-toggle')
    },
    addcustomerAddress () {
      if (this.addressId === null) {
        this.addAddress(this.customer)
      } else {
        if (!this.objectsEqual(this.customer, this.getCustomerAddress())) {
          this.updateAddress(this.addressId, this.customer)
        }
      }
      this.exitSection()
    },
    getCustomerAddress () {
      let currentUser = Object.assign({}, this.$store.state.user.current)
      if (currentUser && this.addressId !== null) {
        let index
        for (let i = 0; i < currentUser.addresses.length; i++) {
          if (toString(currentUser.addresses[i].id) === toString(this.addressId)) {
            index = i
          }
        }
        if (index >= 0) {
          let block = ''; let floor = ''; let avenue = '';
          if (currentUser.addresses[index].hasOwnProperty('custom_attributes')) {
            for (let i in currentUser.addresses[index].custom_attributes) {
              let attributes = currentUser.addresses[index].custom_attributes[i];
              switch (attributes.attribute_code) {
                case 'block': block = attributes.value; break;
                case 'floor': floor = attributes.value; break;
                case 'avenue': avenue = attributes.value; break;
              }
            }
          }
          return {
            firstName: currentUser.addresses[index].firstname,
            lastName: currentUser.addresses[index].lastname,
            street: currentUser.addresses[index].street[0],
            city: currentUser.addresses[index].city,
            postcode: currentUser.addresses[index].postcode,
            region: currentUser.addresses[index].region.region ? currentUser.addresses[index].region.region : '',
            country: currentUser.addresses[index].country_id,
            phone: currentUser.addresses[index].hasOwnProperty('telephone') ? currentUser.addresses[index].telephone : '',
            block: block,
            floor: floor,
            avenue: avenue,
            default_shipping: currentUser.addresses[index].default_shipping ? currentUser.addresses[index].default_shipping : false,
            default_billing: currentUser.addresses[index].default_billing ? currentUser.addresses[index].default_billing : false
          }
        }
      } else {
        return {
          firstName: '',
          lastName: '',
          street: '',
          city: '',
          postcode: '',
          region: '',
          country: 'KW',
          phone: '',
          block: '',
          floor: '',
          avenue: '',
          default_shipping: false,
          default_billing: false
        }
      }
    },
    objectsEqual (a, b) {
      const aProps = Object.keys(a)
      const bProps = Object.keys(b)

      if (aProps.length !== bProps.length) {
        return false
      }

      for (let i = 0; i < aProps.length; i++) {
        let propName = aProps[i]
        if (!b.hasOwnProperty(propName)) {
          return false
        } else {
          if (a[propName] !== null && b[propName] !== null && a[propName] === 'object' && b[propName] === 'object') {
            if (!this.objectsEqual(a[propName], b[propName])) {
              return false
            }
          } else if (a[propName] !== b[propName]) {
            return false
          }
        }
      }
      return true
    }
  },
  validations: {
    customer: {
      firstName: {
        required,
        minLength: minLength(3)
      },
      lastName: {
        required
      },
      country: {
        required
      },
      street: {
        required
      },
      postcode: {
        required,
        minLength: minLength(3)
      },
      city: {
        required
      },
      block: {
        required
      },
      floor: {
        required
      },
      avenue: {
        required
      }
    }
  }
}
</script>
<style lang="scss" scoped>
  .cancel-btn{
    margin: 0 15px;
  }
</style>
<style lang="scss">
.customer-address-form {
  .checkbox-wrap {
    position: relative;
  }
  .countries {
    select {
      padding: 0;
    }
  }
}
</style>
